Class-5

In [ ]:
# File
# 1.Read Mode
# 2.Write Mode
# 3.Append Mode

In [ ]:
#'r'-read mode
file=open('a.txt','r')
print(file.read())

# File
# 1.Read Mode
# 2.Write Mode
# 3.Append Mode

In [ ]:
# to close the file
file.close()

In [ ]:
# 'w'- write  mode
# output- 27 is the length of "file.write('This is written by the user')" that is characters
file=open('a.txt','w')
file.write('This is written by the user')

27

In [ ]:
file=open('a.txt','r')
print(file.read())

This is written by the user

In [ ]:
#'a'-append mode
#  output-33 is the length of characters
file=open('a.txt','a')
file.write('\nThis is written by the developer')

33

In [ ]:
file=open('a.txt','r')
print(file.read())

This is written by the user
 This is written by developer
 This is written by the developer
 This is written by the developerThis is written by the developer
This is written by the developer
This is written by the developer

In [ ]:
# other way to write file
# as file1  is use to stored the file
with open('a.txt','r') as file1:
  print(file1.read())

This is written by the user
 This is written by developer
 This is written by the developer
 This is written by the developerThis is written by the developer
This is written by the developer
This is written by the developer

In [ ]:
mylines=['data\n','details\n','task']

In [ ]:
with open('a.txt','a') as file2:
  file2.writelines(mylines)

In [ ]:
with open('a.txt','r') as file2:
  print(file2.read())

This is written by the user
 This is written by developer
 This is written by the developer
 This is written by the developerThis is written by the developer
This is written by the developer
This is written by the developerdata
details
taskdata
details
task

In [ ]:
#Create a simple calculator
# This function adds two numbers
def add(x, y):
    return x + y

# This function subtracts two numbers
def subtract(x, y):
    return x - y

# This function multiplies two numbers
def multiply(x, y):
    return x * y

# This function divides two numbers
def divide(x, y):
    return x / y


print("Select operation.")
print("1.Add")
print("2.Subtract")
print("3.Multiply")
print("4.Divide")

while True:
    # take input from the user
    choice = input("Enter choice(1/2/3/4): ")

    # check if choice is one of the four options
    if choice in ('1', '2', '3', '4'):
        try:
            num1 = float(input("Enter first number: "))
            num2 = float(input("Enter second number: "))
        except ValueError:
            print("Invalid input. Please enter a number.")
            continue

        if choice == '1':
            print(num1, "+", num2, "=", add(num1, num2))

        elif choice == '2':
            print(num1, "-", num2, "=", subtract(num1, num2))

        elif choice == '3':
            print(num1, "*", num2, "=", multiply(num1, num2))

        elif choice == '4':
            print(num1, "/", num2, "=", divide(num1, num2))
        
        # check if user wants another calculation
        # break the while loop if answer is no
        next_calculation = input("Let's do next calculation? (yes/no): ")
        if next_calculation == "no":
          break
    else:
        print("Invalid Input")

Select operation.
1.Add
2.Subtract
3.Multiply
4.Divide
Enter choice(1/2/3/4): 3
Enter first number: 345
Enter second number: 5
345.0 * 5.0 = 1725.0
Let's do next calculation? (yes/no): yes
Enter choice(1/2/3/4): 2
Enter first number: 46
Enter second number: 9
46.0 - 9.0 = 37.0
Let's do next calculation? (yes/no): no

In [ ]:
# Assignment-3
# Work on r+,w+,a+
# r+ -This method opens the file for both reading and writing
file=open('b.txt','r')
print(file.read())
with open('b.txt', 'r+') as f:
    f.read()
    f.write("new line \n")

new line

welcome to python 1
welcome to python 2
welcome to python 3
welcome to python 4

In [ ]:
# w+ -This mode opens the file for both reading and writing. 
with open('file.txt', 'w+') as f:   # create a new file or truncates it
    f.write("test 1\n")
    f.write("test 2\n")
    f.write("test 3\n")
    f.seek(0)
    lines=f.read()
    print(lines)
file=open ('b.txt','r')
print(file.read())

test 1
test 2
test 3

new line

welcome to python 1
welcome to python 2
welcome to python 3
welcome to python 4new line

In [ ]:
# a+ - you can read and write in the file. The newly written text will be added at the end, following the previously written data.
with open('b.txt', 'a+') as f:
    f.seek(0)                       # file pointer at end, move to beginning
    lines = f.readlines()           # read all and file pointer at end again
    f.write("\n" + str(len(lines)))

In [1]:
file=open('b.txt','r')
print(file.read())

FileNotFoundError: ignored

In [2]:
# Assignment 3
# what is string template
#The Python string Template is created by passing the template string to its constructor.
# It supports $-based substitutions.

In [4]:
# A Simple Python template example
from string import Template
# Create a template that has placeholder for value of x
t = Template('x is $x')
# Substitute value of x in above template
print (t.substitute({'x' : 1}))

x is 1

In [5]:
# A Python program to demonstrate the
# working of the string template
from string import Template
# List Student stores the name and marks of three students
Student = [('Ram',90), ('Ankit',78), ('Bob',92)]
# We are creating a basic structure to print the name and
# marks of the students.
t = Template('Hi $name, you have got $marks marks') 
for i in Student:
     print (t.substitute(name = i[0], marks = i[1]))

Hi Ram, you have got 90 marks
Hi Ankit, you have got 78 marks
Hi Bob, you have got 92 marks